<li>
  <%= gravatar_for user, :size => 30 %>
  
  <% if current_user?(user) %>
    <%= link_to user.name << "  (me)", user %>
  <% else %>
    <%= link_to user.name, user %>  
  <% end %>
  
  <% if !current_user.admin? && user.admin? %>
    (admin)
  <% end %>
  
  <% if current_user.admin? && !current_user?(user) %>
    |
    <%= link_to "delete", user, :method => :delete, :confirm => "Are you sure?",
                              :title => "Delete #{user.name}" %>
  <% end %>
</li>